<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>57808550540-b4gh0juq4u6et91erme3c6m5d4rg0ri8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.57808550540-b4gh0juq4u6et91erme3c6m5d4rg0ri8</string>
	<key>API_KEY</key>
	<string>AIzaSyDW5UIrtlg-5E7qRvEpdDWjdX5xweJDKEI</string>
	<key>GCM_SENDER_ID</key>
	<string>57808550540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.totrash</string>
	<key>PROJECT_ID</key>
	<string>totrash-007</string>
	<key>STORAGE_BUCKET</key>
	<string>totrash-007.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:57808550540:ios:7a868be78dcbcd162999a9</string>
</dict>
</plist>